<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>O nás</title>
	<link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<header>
		<h2>O nás</h2>

		<div>
			<a href="/">Home</a>
			<a href="/adresa">Adresa</a>
			<a href="https://spsehavirov.cz/">SPŠE Havířov</a>
			<a href="/about" class="active" disabled>O nás</a>
		</div>
	</header>
	<div class="container">
		<div class="about">
			<ul class="ulAbout">
				<li id="ahoj"><h2>Tomáš Szeruda</h2></li>
				<li id="ahoj">Student SPŠE Havířov</li>
				<li id="ahoj">Tel. číslo: 605 350 945</li>
				<li id="ahoj">E-Mail: t.parek@post.cz</li>
				<hr>
				<div class="imageSection">
					<p id="ahoj">Znalosti:</p>
					<img src="imgs/php.png" class="listImg">
					<img src="imgs/js.png" class="listImg">
					<img src="imgs/C_Logo.png" class="listImg">
				</div>
			</ul>
			<img src="imgs/roo.jpg" class="aboutImg">
		</div>	
	</div>
</body>
</html>
