<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Adresa</title>
	<link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<header>
		<h2>Adresa</h2>

		<div>
			<a href="/">Home</a>
			<a href="/adresa" class="active" disabled>Adresa</a>
			<a href="https://spsehavirov.cz/">SPŠE Havířov</a>
			<a href="/about">O nás</a>
		</div>
	</header>
	
	<div class="container">
		<div class="about adresa">
			<ul class="ulAbout">
				<li id="ahoj">SPŠE, Havířov-Město, </li>
				<li id="ahoj">Makarenkova 1,  </li>	
				<li id="ahoj">SPŠE, Havířov-Město, </li>	
				<li id="ahoj">Příspěvková organizace</li>
						
				<li id="ahoj">Tel: 596 811 132</li>
				<li id="ahoj">Makarenkova 513/1</li>	
				<li id="ahoj">Havířov-Město, 736 01</li>
				<li id="ahoj">telefon: +420 910 120 377</li>	
			</ul>	
			<img src="imgs/havirov.jpg" class="aboutImg">
		</div>
	</div>
</body>
</html>
