@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  background-color: #181A1C;
}

body {
  margin: 0 auto;
  width: 75vw;
  background-color: #1B1B1B;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  min-height: 100vh;
  border: 3px solid #242424;
  padding: 1em;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

.header {
  min-height: 10vh;
  border-bottom: 4px solid #252525;
  color: #898989;
  margin: 0 auto;
}

.title {
  margin: 0 auto;
  font-weight: 700;
  text-align: center;
  font-size: 3rem;
}

.container::-webkit-scrollbar {
  width: 12px;
}

.container::-webkit-scrollbar-track {
  border-radius: 20px;
  background: #242424;
}

.container::-webkit-scrollbar-thumb {
  background-color: #898989;
  border-radius: 20px;
}

.container {
  overflow-y:scroll;
  padding-top: 1em;
  padding-inline: 1.5em;
  height: 78vh;
}

.card {
  border-bottom: 3px solid #252525;
  padding-top: 1em;
  padding-bottom: 1em;
}

.card-odbor {
  padding: .25em .75em;
  background-color: green;
  font-size: .8rem;
  border-radius: 15px;
}

.card-title {
  padding-top: .6em;
  padding-bottom: .5em;
}

.card-title h2 {
  font-size: 1.75rem;
}

.card-title span {
  color: #898989;
  font-size: .8rem;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
}

.card-bottom p {
  margin-top: auto;
  margin-bottom: auto;
}

.card-bottom a {
  padding: .25em .75em;
  background-color: dodgerblue;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  border-radius: 15px;
}
.card-bottom a:hover {
  background-color: #1E6AD3;
}

.footer {
  min-height: 2vh;
  border-top: 4px solid #252525;
  padding-top: 1.5em;
  margin-inline: 1.5em;
  display: flex;
  flex-wrap: wrap;
  color: #898989;
  text-decoration: none;
}

.footer a {
  color: #898989;
  margin: 0 auto;
  padding-inline: 3em;
  text-decoration: none;
  padding-bottom: .25em;
}

.footer a:hover, footer .active {
  color: #C3C3C3;
}

.about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
}

.image {
  max-width: 30vw;
  aspect-ratio: 1/1;
}

.icon {
  max-width: 50px;
  aspect-ratio: 1/1;
  margin: 1em;
}

.about-skills {
  display: flex;
}

.about-list {
  list-style: none;
}

.about-list li {
  font-size: 1.5rem;
  padding-top: 1em;
  padding-bottom: 1em;
}

.about-list li h2 {
  font-size: 2rem;
}
